# ====== ENV ======
APP_ENV=local
DEBUG=true

# ====== LLM ======
LLM_PROVIDER=deepseek
OPENAI_API_KEY=sk-xxx
DEEPSEEK_API_KEY=sk-xxx

# ====== VECTOR DB ======
VECTOR_DB=chroma
VECTOR_DB_PATH=./data/vector_store

# ====== AGENT ======
DEFAULT_TEMPERATURE=0.7
MAX_TOKENS=2000

# ====== LOG ======
LOG_LEVEL=INFO
